<div class="bg-white shadow-lg rounded-lg p-6 max-w-sm">
    <img src="https://feedbackv2.s3.ap-southeast-2.amazonaws.com/<%= imageURL %>" alt="Image" class="w-full h-auto rounded text-xs">
    <div class="mt-4 flex justify-between items-center">
        <span class="text-gray-700"><%= imageDescription %></span>
        <a href="https://feedbackv2.s3.ap-southeast-2.amazonaws.com/<%= imageURL %>" download class="text-blue-500 hover:underline text-xs">Download</a>
    </div>
</div>