<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerija</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
        }

        tr.hover-row:hover {
            border: 2px solid #cbd5e0;
            /* Tailwind color gray-300 */
        }
    </style>
</head>

<body class="bg-gray-100 p-8">
    <h2 class="text-2xl font-semibold mb-4">Galerija</h2>
    <a href="https://andrijanaivinko.com/">Povratak na početnu</a>


    <div class="overflow-x-auto">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <% files.forEach((file, index)=> { %>
                <img src="https://struja-svadba.s3.eu-north-1.amazonaws.com/<%= file.Key %>"
                    class="h-auto max-w-full rounded-lg">
                <%}) %>
        </div>

    </div>
</body>

</html>